body {
  padding: 0;
  margin: 0;
}

.container {
  display: none;
  position: absolute;
  bottom: 12%;
  right: 8%;
  font-family: "Courier New", Courier, monospace;
  background: url("img/identity.png");
  background-position: 100%;
  background-repeat: no-repeat;
  height: 271px;
  width: 429px;
  padding: 0 15px 10px;
  zoom: 80%;
}

#leftInfos {
  position: absolute;
  bottom: 6%;
  left: 30%;
  max-width: 150px;
}

#rightInfos {
  position: absolute;
  bottom: 6%;
  left: 60%;
  max-width: 80px;
}

#passport {
  position: absolute;
  font-size: 42px;
  font-weight: 500;
  color: white;
  right: 10%;
  top: 11%;
}

#info {
  margin: 25px 12px;
}
