html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#logo img {
  position: absolute;
  top: 10px;
  left: 46%;
  opacity: .9;
  max-width: 200px;
  transform: translate(-20%, 0);
}


.playerHud {
  position: absolute;
  bottom: 3vw;
  right: 3.5vw;
  width: 10vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
  /* justify-content: center; */
  transform: translate(0,-50%);
  zoom: 0.9;
  /* background: gray; */

}

#hoodDisplay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: #000;
	position: absolute !important;
}

.playerHud .circle {
  position: relative;
  width: 3vw;
  height: 3vw;
  display: flex;
  color: #fff;
  font-size: 12px;
  border-radius: 100%;
  /* margin-bottom: 5px; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  align-items: center;
  justify-content: center;
}

.playerHud .circle i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.playerHud .circle:last-child {
  margin-bottom: 0;
}

.microphone {
  position: absolute;
  top: 4%;
  right: 50px;
  color: #fff;
  padding: 5px;
  display: flex;
  border-radius: 5px;
  padding-bottom: 7px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotateZ(90deg);
}

.microphone i {
  margin-bottom: 3px;
  transform: rotateZ(-90deg);
  font-size: 22px;
}

.micStatus {
  width: 12px;
  height: 12px;
  margin-bottom: 5px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.microphone .active {
  background-color: rgb(255, 197, 7);
}



/*

/*
=========================================
  Velocimeter
=========================================
*/

.velocimeterHud {
  position: absolute;
  /* right: 87px; */
  /* bottom: 75px; */
  display: flex;
  color: #fff;
  align-items: center;
  flex-direction: column;
  zoom: 1.2;
  /* background: yellow; */
}

.velocimeterHud .carMarch {
  position: relative;
  top: -3px;
  display: flex;
  align-items: center;
}

.velocimeterHud .carMarch small {
  font-size: 10px;
  font-weight: 500;
  color: #ffffff63;
}

.velocimeterHud .carMarch div {
  width: 22px;
  height: 22px;
  display: flex;
  margin: 0 6px;
  font-size: 10px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
}

.velocimeterHud h1 {
  position: absolute;
  width: 80px;
  font-size: 33px;
  margin-top: -4px;
  margin-bottom: -6px;
  left: -13px;
  bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.3);
}

.velocimeterHud h1 b {
  color: #fff;
}

#lightRight{
  opacity: 0;
}

.velocimeterHud span {
  position: absolute;
  bottom: 40px;
  font-size: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.velocimeterHud .carInfo {
  position: relative;
  bottom: -7px;
  left: -20px;
  font-size: 9px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.velocimeterHud .carInfo img {
  opacity: .5;
  margin: 0 5px;
  max-width: 12px;
  transition: all .2s;
}

.velocimeterHud .carInfo img:nth-child(1) {
  position: relative;
  opacity: 1;
  top: -1px;
}

.velocimeterHud .carInfo .activeBelt {
  filter: drop-shadow(0px 0px 5px rgb(83, 236, 22));
}

.velocimeterHud .carInfo .removeBelt {
  animation: lightBlink infinite 1s ease-in;
  filter: drop-shadow(0px 0px 5px rgb(236, 22, 22));
}

.velocimeterHud .carInfo .activeLight {
  animation: lightBlink infinite .5s ease-in;
}

@keyframes lightBlink {
  0% {
    opacity: .5;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

.velocimeterHud .circle {
  position: absolute;
  top: 100%;
  left: 5px;
  transform: translate(0, -50%) scale(4.2) rotateZ(41deg);
}

.velocimeterHud .circle2 {
  position: absolute;
  top: 100%;
  left: 5px;
  transform: translate(0, -50%) scale(3.6) rotateZ(41deg);
}

.velocimeterHud .carFuel {
  position: absolute;
  bottom: 33px;
  right: -14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.velocimeterHud .carFuel span {
  position: relative;
  left: -5px;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 7px;
}

.velocimeterHud .carFuel i {
  font-size: 10px;
  position: relative;
  left: -5px;
}

.velocimeterHud .carFuel .fuelCircle {
  position: absolute;
  left: -8px;
}

.velocimeterHud .carFuel span b {
  opacity: .5;
}


.velocimeterHud .carBody {
  position: absolute;
  bottom: 33px;
  right: -14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.velocimeterHud .carBody span {
  position: relative;
  left: -5px;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 7px;
}

.velocimeterHud .carBody i {
  font-size: 10px;
  position: relative;
  left: -5px;
}

.velocimeterHud .carBody .bodyCircle {
  position: absolute;
  left: -8px;
}

.velocimeterHud .carBody span b {
  opacity: .5;
}

.velocimeterHud .engineCircle {
  position: absolute;
  bottom: -10px;
  right: -40px;
  zoom: .6;
}

.velocimeterHud .engineCircle i {
  position: absolute;
  left: 51%;
  top: 45%;
  font-size: 12px;
  transform: translate(-50%, -50%);
}

.velocimeterHud .fuelCircle {
  position: absolute;
  bottom: -17px;
  right: -40px;
  zoom: .6;
}

.velocimeterHud .fuelCircle i {
  position: absolute;
  left: 51%;
  top: 45%;
  font-size: 12px;
  transform: translate(-50%, -50%);
}

.velocimeterHud .bodyCircle {
  position: absolute;
  bottom: 35px;
  right: -37px;
  zoom: .6;
}

.velocimeterHud .bodyCircle i {
  position: absolute;
  left: 51%;
  top: 45%;
  font-size: 12px;
  transform: translate(-50%, -50%);
}


.outer {
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  transform: rotate(130deg) scale(.9);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.progress {
  -webkit-transition: 0.35s stroke-dashoffset;
  -o-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  transform: rotate(130deg) scale(.9);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/*
=========================================
  Server Info
=========================================
*/

.serverInfos {
  position: absolute;
  right: 22px;
  top: 20px;
  display: flex;
  align-items: center;
}

.serverInfos .progressBar {
  width: 120px;
  height: 15px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.serverInfos .progressBar .fill {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
  transition: width 100ms;
  background-color: #54bef0;
}

.serverInfos .progressBar .fill small {
  position: absolute;
  top: 50%;
  right: 7px;
  color: #fff;
  font-size: 8px;
  text-transform: uppercase;
  transform: translate(0, -50%);
}

.serverInfos .item {
  color: #fff;
  font-size: 9px;
  display: flex;
  font-weight: 600;
  margin-left: 10px;
  border-radius: 3px;
  letter-spacing: 1px;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.serverInfos .item .icon {
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;
  margin-right: 7px;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.serverInfos .item .icon i {
  position: relative;
  left: .5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location b {
  color: #848ceb;
  font-weight: 600;
}

/*
=========================================
  SVG CIRCLE
=========================================
*/

.svgCircle {
  height: 3vw;
  width: 3vw;
}

.svgCircle circle {
  fill: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
  stroke-dasharray: 113;
  transition: all .5s;
  transform: rotate(-90deg);
  transform-origin: center;
}

.circleFill {
  filter: drop-shadow(0px 0px 2px #6e6e6e);
  stroke: #ffffff;
  stroke-dashoffset: 100;
}

.circleFillVida {
  filter: drop-shadow(0px 0px 2px #2ee700);
  stroke: #2ee700;
  stroke-dashoffset: 100;
}

.circleFill2 {
  filter: drop-shadow(0px 0px 2px #ffce2c);
  stroke: #ffce2c;
  stroke-dashoffset: 100;
}

.circleFill3 {
  filter: drop-shadow(0px 0px 2px #ff0000);
  stroke: #ff1b1b;
  stroke-dashoffset: 100;
}

.circleFill4 {
  filter: drop-shadow(0px 0px 2px #1956ff);
  stroke: #1956ff;
  stroke-dashoffset: 100;
}

.circleFill45 {
  filter: drop-shadow(0px 0px 2px #4ebeff);
  stroke: #4ebeff;
  stroke-dashoffset: 100;
}

.circleFill5 {
  filter: drop-shadow(0px 0px 2px #ff5e00);
  stroke: #ff5e00;
  stroke-dashoffset: 100;
}

.circleFill6 {
  filter: drop-shadow(0px 0px 2px #25f0ff);
  stroke: #25f0ff;
  stroke-dashoffset: 100;
}

.circleFill2316 {
  filter: drop-shadow(0px 0px 2px #680091);
  stroke: #680091;
  stroke-dashoffset: 100;
}
.circleBack {
  stroke: #ffffff32;
  stroke-width: .5vw;
}


#movieTop {
  top: 0;
  left: 0;
  width: 100vw;
  height: 12%;
  display: none;
  background: #000;
  position: absolute !important;
}

#movieBottom {
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 12vw;
  display: none;
  background: #000;
  position: absolute !important;
}

#hoodDisplay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background: #000;
  position: absolute !important;
}



.container {
  position: absolute;
  bottom: 0;
  right: 2vw;
  /* background: blue; */
  width: 30vw;
  height: 15vw;
  display: block;
  transform: rotateZ(0deg) rotateX(0deg);
}

.bars-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15vw;
  height: 5vw;
  /* background: red; */
}


.bars{
  position: absolute;
  bottom: 1vw;
  right: 0;
  width: 85%;
  height: 50%;
  /* background: green; */
}

.top {
  position: absolute;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  display: flex;
  align-items: center;
}



.icon {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: .5rem;
  width: 10%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 60%;
}

.bar-container {
  position: relative;
  height: 20px;
  width: 88%;
  margin-left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));

  /* background-color: rgba(0, 0, 0, 0.5); */
}

.bar {
  position: relative;
  width: 93%;
  height: 40%;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, .3);
  overflow: hidden;
}

.bar-filledl {
  width: 0;
  height: 100%;
  border-radius: .5rem;
  background: linear-gradient(45deg, #999999 0%, #616161 50%, #999999 100%) ;
  transition: width .5s;
}

.bar-filleds {
  width: 0;
  height: 100%;
  border-radius: .5rem;
  background: linear-gradient(45deg, #4f8592 0%, rgb(25, 124, 163) 50%, #02acd6 100%) ;
  transition: width .5s;
}


#farol{
  position: absolute;
}
#farol img{
  width: 13px;
  position: relative;
  right: -36px;
  bottom: -10px;
}


#motor{
  position: absolute;
}
#motor img{
  width: 15px;
  position: relative;
  right: 0px;
  bottom: -10px;
}
