html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    background: transparent !important;
}

body {
    text-transform: uppercase;
    background: transparent !important;
}

#notifications {
    position: absolute;
    display: flex;
    color: #ffffff;
    font-size: 13px;
    max-width: 400px;
    overflow: hidden;
    padding: 20px 0;
    letter-spacing: .3px;
	line-height: 20px;
    align-items: flex-end;
    flex-direction: column;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    zoom: 0.95;

}

.normal {
    right: 50px;
    bottom: 300px;
}

.left {
    left: 50px !important;
    bottom: 300px !important;
}

.center {
    top: 100px !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}

.bottom2 {
    left: 50% !important;
    bottom: 70px !important;
    transform: translate(-50%, 0) !important;
}

.timer-bar {
    position: relative;
    top: 20px;
    left: 0;
    padding: 0;
    height: 3px;
    width: 100%;
    border-radius: 30px !important;
    background-color: #fafafa;
}

#notifications b {
    color: #fff;
    font-weight: 300;
}

#notifications>div {
    position: relative;
    padding: 20px;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.5);
}

#notifications>div .notify-code {
    position: absolute;
    top: -10px;
    left: 20px;
    display: flex;
    color: #fff;
    padding: 0 7px;
    height: 20px;
    font-size: 10px;
    border-radius: 3px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    background-color: #fce944;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 6px #fce944);
}

#notifications>div .notify-code2 {
    position: absolute;
    top: -10px;
    left: 20px;
    display: flex;
    color: #fff;
    padding: 0 7px;
    height: 20px;
    font-size: 10px;
    border-radius: 3px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    background-color: #ff9742;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 6px #ff9742);
}

#notifications>div .notify-code3 {
    position: absolute;
    top: -10px;
        left: 20px;

    display: flex;
    color: #fff;
    padding: 0 7px;
    height: 20px;
    font-size: 10px;
    border-radius: 3px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    background-color: #67ff53;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 6px #67ff53);
}

#notifications>div .notify-code4 {
    position: absolute;
    top: -10px;
        left: 20px;

    display: flex;
    color: #fff;
    padding: 0 7px;
    height: 20px;
    font-size: 10px;
    border-radius: 3px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    background-color: #ff4545;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 6px #ff4545);
}

#notifications>div .notify-code5 {
    position: absolute;
    top: -10px;
    left: 20px;
    display: flex;
    color: #fff;
    padding: 0 7px;
    height: 20px;
    font-size: 10px;
    border-radius: 3px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    background-color: #003cff;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 6px #003cff);

}


#notifications>div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#notifications>div span {
    position: relative;
    top: 3px;
}

#sucesso {
        background: rgba(0, 0, 0, 0.5);

}

#sucesso>.timer-bar {
    background-color: #67ff53 !important;
    filter: drop-shadow(0px 0px 6px #67ff53);
}

#sucesso img {
    filter: drop-shadow(0px 0px 6px #67ff53);
    margin-bottom:-5px;
    width: 30px;
    padding-right: 10px;
}

#negado {
        background: rgba(0, 0, 0, 0.5);

}

#negado img {
    margin-bottom:-5px;
    filter: drop-shadow(0px 0px 6px #ff4545);
    width: 30px;
    padding-right: 10px;
}

#negado>.timer-bar {
    background-color: #ff4545 !important;
    filter: drop-shadow(0px 0px 6px #ff4545);

}

#hunger {
        background: rgba(0, 0, 0, 0.5);

}

#hunger>.timer-bar {
    background-color: rgb(0, 217, 255) !important;

}

#thirst {
        background: rgba(0, 0, 0, 0.5);

}

#thirst>.timer-bar {
    background-color: rgb(0, 217, 255) !important;

}

#importante {
    background: rgba(0, 0, 0, 0.5);
}

#importante>.timer-bar {
    background-color: #ff9742 !important;
    filter: drop-shadow(0px 0px 6px #ff9742);
}

#importante img {
    margin-bottom: -5px;
    filter: drop-shadow(0px 0px 6px #ff9742);
    width: 30px;
    padding-right: 10px;
}


#aviso {
        background: rgba(0, 0, 0, 0.5);

}

#aviso>.timer-bar {
    background-color: #fce944 !important;
    filter: drop-shadow(0px 0px 6px #fce944);

}

#aviso img {
    filter: drop-shadow(0px 0px 6px #fce944);
    margin-bottom: -5px;
    width: 30px;
    padding-right: 10px;
}


#governo {
    zoom: 1.1;
    background: rgba(63, 63, 63, 0.75);
}

#governo>.timer-bar {
    background-color: #003cff;
    filter: drop-shadow(0px 0px 6px #003cff);

}


#governo img {
    filter: drop-shadow(0px 0px 6px #003cff);
    margin-bottom:-8px;
    width: 30px;
    padding-right: 10px;
}


#veículo {
        background: rgba(0, 0, 0, 0.5);

}

#veículo>.timer-bar {
    background-color: rgb(0, 217, 255) !important;

}

#atenção {
        background: rgba(0, 0, 0, 0.5);

}

#atenção>.timer-bar {
    background-color: rgb(0, 217, 255) !important;

}


/* #default {
	padding: 15px 20px !important;
	line-height: 20px !important;
	    background: rgba(34, 34, 34, 0.623);

}

#default line {
	text-shadow: 0 0 transparent !important;
	color: rgba(255, 255, 255, 0.1);
} */