@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 16px;
}

@media screen and (width: 1600px) and (height: 1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (width: 1680px) and (height: 1050px) {
  html {
    font-size: 15.1px;
  }
}

@media screen and (width: 1600px) and (height: 900px) {
  html {
    font-size: 14px;
  }
}

@media screen and (width: 1768px) and (height: 992px) {
  html {
    font-size: 15px;
  }
}

@media screen and (width: 1366px) and (height: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (width: 1280px) and (height: 1024px) {
  html {
    font-size: 11.7px;
  }
}

@media screen and (width: 1280px) and (height: 720px) {
  html {
    font-size: 11px;
  }
}

@media screen and (width: 1024px) and (height: 768px) {
  html {
    font-size: 10.05px;
  }
}

@media screen and (width: 832px) and (height: 624px) {
  html {
    font-size: 8.05px;
  }
}

@media screen and (width: 800px) and (height: 600px) {
  html {
    font-size: 8px;
  }
}

.background-image {
  width: 120rem;
  height: 67.5rem;
  z-index: 1;
}

.backgorund-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(9, 9, 12, 0.932);
  z-index: 0;
}

.priceyes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.priceyes img {
  position: relative;
  width: 18vw;
}
.priceyes h2 {
  top: 28%;
  left: 12%;
  z-index: 11;
  position: absolute;
  color: rgb(238, 236, 236);
  font-size: 1.2vw;
  text-align: start;
  font-family: "Glory", sans-serif;
}
.priceyes h3 {
  position: absolute;
  top: 28%;
  z-index: 12;
  right: 8%;
  color: rgb(238, 236, 236);
  font-size: 1.2vw;
  text-align: end;
  font-family: "Glory", sans-serif;
}
.priceyes h4 {
  color: rgb(238, 236, 236);
  position: absolute;
  font-size: 1.3vw;
  width: 100%;
  text-align: center;
  top: 20%;
  font-family: "Glory", sans-serif;
}
.priceyes h2:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 300ms all;
}
.priceyes h3:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 300ms all;
}

.transferyes img {
  position: absolute;
  top: 21.95rem;
  width: 21rem;
  height: 3.563rem;
  z-index: 10;
  left: 0.04rem;
}
.transferyes h2 {
  position: fixed;
  top: 23.05rem;
  color: rgb(238, 236, 236);
  z-index: 11;
  font-size: 1.2rem;
  left: 2.9rem;
  width: 7rem;
  text-align: start;
  font-family: "Glory", sans-serif;
}
.transferyes h3 {
  position: fixed;
  top: 22.99rem;
  color: rgb(238, 236, 236);
  z-index: 11;
  font-size: 1.2rem;
  left: 17.5rem;
  width: 7rem;
  text-align: start;
  font-family: "Glory", sans-serif;
}
.transferyes h4 {
  position: fixed;
  top: 23.2rem;
  color: rgb(238, 236, 236);
  z-index: 11;
  font-size: 1.1rem;
  left: 6rem;
  width: 8rem;
  text-align: start;

  font-family: "Glory", sans-serif;
}

.closebutton img {
  position: absolute;
  top: 10%;
  width: 2vw;
  z-index: 3;
  right: 6%;
}

.closebutton h2 {
  position: absolute;
  top: 10%;
  width: 5vw;
  text-align: end;
  z-index: 3;
  font-size: 1.5vw;
  right: 9%;
  color: white;
  font-family: "Glory", sans-serif;
}

.closeimg:hover {
  cursor: pointer;
}

.carspecitext img {
  position: absolute;
  top: 12rem;
  width: 17rem;
  height: 4.688rem;
  z-index: 3;
  left: 1.2rem;
}

.selectedvehicle {
  position: absolute;
  top: 16% !important;
  width: 75%;
  height: 70%;
  z-index: 5;
  left: 20%;
  overflow: scroll;
  border: none;
}

.vehInfos {
  height: 80%;
  overflow: auto;
}

.hoverpng {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: scale(0.5);
  transition: transform 0.2s linear;
}

.hovergri {
  display: block;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 0.2s linear;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.vehiclemodel {
  position: relative;
  width: 12vw;
  /* height: 20vh; */
  padding-bottom: 1.5vh;
  background: linear-gradient(180deg, #ffffff00 0%, #3333336b 100%);
  left: 2%;
  flex-wrap: nowrap;
  float: left;
  margin: 1rem;
  border: 1px solid #3a3636bd;
  border-radius: 1rem;
  transition: 1s;
}

.vehicleimage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vehicleimage img {
  /* width: 10vw; */
  height: 12vh;
}

.vehiclemodel h3 {
  width: 100%;
  margin: auto;
  font-size: 1.6vw;
  text-align: center;
  color: white;
  font-family: "Glory", sans-serif;
}

.vehiclemodel h2 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.8vw;
  font-family: "Glory", sans-serif;
}

.spawnselectcar,
.spawncar,
.deletecar {
  width: calc(100% - 3vw);
  color: white;
  text-align: center;
  border: 1px solid;
  padding: 0.5vw;
  border-radius: 0.5vw;
  transition: 300ms all;
  font-family: "Glory", sans-serif;
  margin: auto;
  margin-top: 2vh;
  font-size: 1vw;
}

.spawnselectcar:hover,
.spawncar:hover,
.deletecar:hover {
  cursor: pointer;
  background: white;
  transition: 0.5s;
  color: black;
}

.spawncar,
.deletecar {
  display: none;
  transition: 0.5s;
}

.searchbox {
  position: absolute;
  width: 30.5vw;
  height: 5vh;
  border: 2px solid gray;
  left: 27%;
  top: 10%;
  background: #808080a1;
  border-radius: 1vw;
}

.searchbox input {
  font-size: 1vw;
  position: relative;
  width: 20vw;
  top: 0.4vh;
  height: 4vh;
  left: 1vw;
  background: none;
  outline: none;
  border: none;
  font-family: "Glory", sans-serif;
  color: white;
  z-index: 4;
}

input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  border: none;
  outline: none;
}

.notify {
  position: absolute;
  background: #333;
  color: white;
  padding: 0.625rem 0.95rem;
  border-radius: 2px;
  margin: 0.4375rem;
  left: 90.625rem;
  top: 4.625rem;
  font-family: "Glory", sans-serif;
  z-index: 105;
}

.joinMenu {
  position: absolute;
  display: none;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  padding: 0.625rem 0.95rem;
  border-radius: 5px;
  border: 1px solid black;
  top: 50%;
  left: 5%;
  font-family: "Glory", sans-serif;
}

#garageimg {
  width: 300px;
  padding: 10px;
  border-radius: 15px;
}

#inputGarage {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: "Glory", sans-serif;
}

#submitMenu {
  font-family: "Glory", sans-serif;
  font-weight: 700;
  margin: 10px;
  color: black;
  padding: 10px;
  width: 120px;
  cursor: pointer;
  transition: 500ms;
}

#submitMenu:hover {
  background-color: #333;
  font-family: "Glory", sans-serif;
  transition: 0.5s;
  color: white;
}

.vehicleOptionMenu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333cb;
  min-width: 40vw;
  max-width: 70vw;
  min-height: 40vh;
  max-height: 70vh;
  border-radius: 1rem;
  overflow: auto;
}

.vehicleOptions {
  display: flex;
  flex-wrap: wrap;
  font-family: "Glory", sans-serif;
}

.veh-option {
  margin: 1rem 1.5rem 2.3rem;
  padding: 1rem;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  cursor: pointer;
}

.veh-option img {
  position: relative;
  top: 1rem;
  width: 12.5rem;
  height: 7rem;
  right: 3rem;
}

.active {
  width: 100px;
  height: 100%;
  color: #fff !important;
  background-color: #00000080 !important;
  box-shadow: 0px 0px 5px 0.5px rgb(255, 255, 255);
}

#veh-option-button {
  position: absolute;
  height: 40px;
  font-size: 21px;
  width: 350px;
  border-radius: 0.5rem;
  border: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Glory", sans-serif;
}

#veh-option-button:hover {
  cursor: pointer;
  color: white;
  background-color: #333;
}

/* 
///////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

*/
.left-infos {
  position: relative;
  z-index: 1;
  width: 18vw;
  display: grid;
}

.cargaragetext img {
  width: 15vw;
}

.sellprice,
.transfer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  height: 6vh;
  color: rgb(238, 236, 236);
  font-size: 0.6vw;
  font-family: "Glory", sans-serif;
  margin: 1vw 0;
}

.sellprice h2,
.transfer h2 {
  background-color: rgb(144, 248, 58);
  padding: 0.5vw;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.sellprice h2:hover,
.transfer h2:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all 0.2s;
}

.vehicleprice {
  margin-left: 3vw;
  text-align: center;
  font-size: 1vw;
}

.transfer input {
  color: rgb(238, 236, 236);
  margin-left: 3vw;
  font-size: 1vw;
  background: none;
  text-align: center;
  width: 5vw;
  height: 4vh;
  font-family: "Glory", sans-serif;
  outline: none;
  border: 1px solid rgb(144, 248, 58);
  border-radius: 10px;
}

.veh-infos {
  width: 16vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1vh 1vw;
  gap: 1vw;
}

.veh-infos div {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 15.2vh;
  color: rgb(238, 236, 236);
  font-family: "Glory", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.veh-infos .fuelbar {
  background-position: center 5%;
  border-radius: 15px;
  background-size: cover;
}

.veh-infos > div > h1 {
  font-size: 0.7vw;
  margin-bottom: 1vh;
}

.veh-infos > div > h2 {
  font-size: 2vw;
  /* border: 1px solid pink; */
}

.platepng h2 {
  font-size: 1.2vw !important;
}

.delNearVeh {
  border-radius: 1vw;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(transparent, rgba(250, 169, 18, 0.596));
  text-align: center;
  height: 7.5vh;
  margin-top: 1vh;
}

.delNearVeh h1 {
  font-size: 1vw;
  padding: 1vw;
  font-family: "Glory", sans-serif;
  color: rgb(238, 236, 236);
}

.delNearVeh:hover {
  cursor: pointer;
  font-size: 2vw;
}
/* 
ADMIN MENU

*/
.adminMenu {
  font-family: "Glory", sans-serif;
  background-color: #0000006b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.adminContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.adminContainer h1 {
  text-align: center;
  font-size: 1.4vw;
  margin-bottom: 15px;
}
.form-group {
  margin-bottom: 15px;
}

.adminContainer label {
  display: block;
  margin-bottom: 5px;
}

.adminContainer input,
.adminContainer select,
.adminContainer button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.adminContainer input {
  width: calc(100% - 1.8dvw);
}

.adminContainer button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.adminContainer button:hover {
  background-color: #0056b3;
}

#adm-garage-img {
  position: relative;
  margin-top: 1vh;
  width: 100%;
}
