
<html>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link rel="stylesheet" href="style.css">

    <body style="display: none;">
        <!-- <main id="form" style="display:none">


          </main> -->

        <main id="creat" >
            <header>
                <div class="icon"><i class="fa-solid fa-user-gear"></i></div>
                <div class="text">
                    <small>criação de</small>
                    <span>personagem</span>
                </div>
                <div id="reset-cam">Resetar câmera</div>
            </header>
            <!-- <section id="appspawn" v-show="spawn">
                <div class="title">
                  <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                  <div class="text">
                    <p>seleção de</p><br>
                    <h1>spawn</h1>
                  </div>
                </div>
                <btns-append class="content"></btns-append>
                <div class="options-game">
                  <div class="option-item" @click="spawnCharacter(this)">
                    <div class="text">
                      <p>clique para jogar</p>
                      <span>última localização</span>
                    </div>
                    <div class="icon"><i class="fa-regular fa-arrow-right-to-bracket"></i></div>
                  </div>
                </div>
            </section> -->
            <section id="app0" v-show="CharacterMode0">

                <!-- <div class="title">
                  <div class="icon"><i class="fa-solid fa-user-check"></i></div>
                  <div class="text">
                    <p>criação de</p><br>
                    <h1>personagem</h1>
                  </div>
                </div> -->
                <div class="content2">
                  <!-- <div class="input2-item">
                    <p>ESCOLHA O NOME</p>
                    <div class="input2">
                      <input id="nameshake" v-model="name" type="text" placeholder="Carl" type="text" autocomplete="off" onInput="this.value = this.value.replace(/[^a-zãáéíóúçâêîôû]/gi, '').substring(0,16)" required>
                    </div>
                  </div>
                  <div class="input2-item">
                    <p>ESCOLHA O SOBRENOME</p>
                    <div class="input2">
                      <input id="lastnameshake" v-model="lastname" type="text" placeholder="Johnson" autocomplete="off" onInput="this.value = this.value.replace(/[^a-zãáéíóúçâêîôû]/gi, '').substring(0,16)" required>
                    </div>
                  </div>
                  <div class="input2-item">
                    <p>ESCOLHA A IDADE</p>
                    <div class="input2">
                      <span>Idade</span>
                         <div class="idades"> 
                            <input id="ageshake" v-model="age" type="number" placeholder="+18" min="18" max="99" autocomplete="off">
                        </div> 
                    </div>
                  </div> -->
                  <div class="input2-item">
                    <p>ESCOLHA O SEXO</p>
                    <div class="input2">
                      <span>Sexo</span>
                      <div id="shakeg" class="sexs">
                        <div class="sexOption" data-id="mp_m_freemode_01" @click="selectedSex('mp_m_freemode_01')">M</div>
                        <div class="sexOption" data-id="mp_f_freemode_01" @click="selectedSex('mp_f_freemode_01')">F</div>
                      </div>
                    </div>
                  </div>
                  <div class="input2-item">
                    <p>RESPONDA A PERGUNTA</p>  
                    <div id="shakewhere" class="input2" onclick="openSelct()">
                      <span id="whereText">Como você nos achou?</span>
                      <i class="fa-solid fa-caret-down"></i>
                      <div class="option-select" style="display:none">
                        <div class="whereOption" @click="selectedWhere('instagram')">Instagram</div>
                        <div class="whereOption" @click="selectedWhere('tiktok')">Tiktok</div>
                        <div class="whereOption" @click="selectedWhere('friends')">Amizades</div>
                        <div class="whereOption" @click="selectedWhere('discord')">Discord</div>
                      </div>
                    </div>
                  </div>
                  <div class="btnsForm">
                    <!-- <button class="nextBtn backBtn" @click="CloseCharacterMode">Voltar</button> -->
                    <button class="nextBtn" @click="done">Próximo<i class='fa-light fa-arrow-right-to-bracket'></i></button>
                  </div>
                </div>
            </section>
            <section id="app" v-show="CharacterMode">
                <div class="allcontent">
                    <div class="revert" style="direction:ltr">
                        <div class="title">selecione Seu Pai</div>
                        <div class="content">
                            <div class="arrow" style="display: flex" @click="prevFather"><i class="fa-solid fa-caret-left"></i></div>
                            <label>{{ fatherNames[father] }}</label>
                            <div class="arrow" style="display: flex" @click="nextFather"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">selecione Sua Mãe</div>
                        <div class="content">
                            <div class="arrow" style="display: flex" @click="prevMother"><i class="fa-solid fa-caret-left"></i></div>
                            <label>{{ motherNames[mother] }}</label>
                            <div class="arrow" style="display: flex" @click="nextMother"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">
                            Mais parecido com <div class="info"><i class="fas fa-male"></i> <sub>/</sub> <i class="fas fa-female"></i></div>
                        </div>
                        <div class="content">
                            <div class="arrow" @click="decrement()"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" ref = 'moreLikeCRef' value="0" min="0.0" max="1.0" step="0.05" v-model.number="shapeMix" @input="changeAppearance">
                            <div class="arrow" @click="increment()"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">tom de pele {{ i18n.skinCol }}</div>
                        <div class="content">
                            <div class="arrow" @click="inputDecrement('skinColor', 'skinColorCRef')"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" ref = "skinColorCRef" value="0" min="0" max="12" step="1" v-model.number="skinColor" @input="changeAppearance">
                            <div class="arrow" @click="inputIncrement('skinColor', 'skinColorCRef')"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="rotateContent flexAlign">
                    <div class="icon flexAlign"><i class="fa-regular fa-360-degrees"></i> <small> Câmera</small></div>
                    <sub>|</sub>
                    <input type="range" value="0" min="90" max="270" step="5" v-model.number="camRotation" @input="changeCamRotation">
                </div>
                <footer>
                    <button @click="back">{{ i18n.back }}</button>
                    <button @click="done">{{ i18n.next }}</button>
                </footer>
            </section>
            <section id="app2" v-show="CharacterMode2">
                <div class="allcontent">
                    <div class="revert" style="direction:ltr">
                        <div class="title">Cor dos olhos ({{ eyesColor }})</div>
                        <div class="content">
                            <div class="arrow" @click="inputDecrement('eyesColor', 'eyesColorCRef')"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" ref = 'eyesColorCRef' value="0" min="0" max="32" step="1" v-model.number="eyesColor" @input="changeAppearance">
                            <div class="arrow" @click="inputIncrement('eyesColor', 'eyesColorCRef')"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Altura Sobrancelhas ({{ eyebrowsHeight }})</div>
                        <div class="content">
                            <div class="arrow" @click="inputDecrement('eyebrowsHeight', 'eyebrowsHeightCRef')"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" ref = "eyebrowsHeightCRef" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="eyebrowsHeight" @input="changeAppearance">
                            <div class="arrow" @click="inputIncrement('eyebrowsHeight', 'eyebrowsHeightCRef')"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Tamanho Sobrancelhas ({{ eyebrowsWidth }})</div>
                        <div class="content">
                            <div class="arrow" @click="inputDecrement('eyebrowsWidth', 'eyebrowsWidthCRef')"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" ref = 'eyebrowsWidthCRef' value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="eyebrowsWidth" @input="changeAppearance">
                            <div class="arrow" @click="inputIncrement('eyebrowsWidth', 'eyebrowsWidthCRef')"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Largura Nariz ({{ noseWidth }})</div>
                        <div class="content">
                            <div class="arrow" @click="inputDecrement('noseWidth', 'noseWidthCRef')"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" ref = "noseWidthCRef" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="noseWidth" @input="changeAppearance">
                            <div class="arrow" @click="inputIncrement('noseWidth', 'noseWidthCRef')"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Altura Nariz ({{ noseHeight }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="noseHeight" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Tamanho Nariz ({{ noseLength }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="noseLength" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Ponte Nasal ({{ noseBridge }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="noseBridge" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Ponta do Nariz ({{ noseTip }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="noseTip" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Altura Bochechas ({{ cheekboneHeight }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="cheekboneHeight" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Largura Bochechas ({{ cheekboneWidth }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="cheekboneWidth" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Tamanho Bochechas ({{ cheeksWidth }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="cheeksWidth" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Lábios ({{ lips }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="lips" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Largura Mandíbula ({{ jawWidth }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="jawWidth" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Altura Mandíbula ({{ jawHeight }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="jawHeight" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Tamanho Queixo ({{ chinLength }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="chinLength" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Posição Queixo ({{ chinPosition }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="chinPosition" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Largura Queixo ({{ chinWidth }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="chinWidth" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Forma do Queixo ({{ chinShape }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="chinShape" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Largura Pescoço ({{ neckWidth }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1.0" max="0.99" step="0.01" v-model.number="neckWidth" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="rotateContent flexAlign">
                    <div class="icon flexAlign"><i class="fa-regular fa-360-degrees"></i> <small>- Personagem</small></div>
                    <sub>|</sub>
                    <input type="range" value="0" min="90" max="270" step="5" v-model.number="camRotation" @input="changeCamRotation">
                </div>
                <footer>
                    <button @click="back">{{ i18n.back }}</button>
                    <button @click="done">{{ i18n.next }}</button>
                </footer>
            </section>
            <section id="app3" v-show="CharacterMode3">
                <div class="allcontent">
                    <div class="revert" style="direction:ltr">
                    
                        <div class="title">Cabelo ({{ hairModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="0" min="0" max="999" step="1" v-model.number="hairModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Cor Primária ({{ firstHairColor }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="0" min="0" max="63" step="1" v-model.number="firstHairColor" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Cor Secundária ({{ secondHairColor }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="0" min="0" max="63" step="1" v-model.number="secondHairColor" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Sobrancelhas ({{ eyebrowsModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="0" min="0" max="33" step="1" v-model.number="eyebrowsModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Cor Primária ({{ eyebrowsColor }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="0" min="0" max="63" step="1" v-model.number="eyebrowsColor" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Barba ({{ beardModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="28" step="1" v-model.number="beardModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Cor Primária ({{ beardColor }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="0" min="0" max="63" step="1" v-model.number="beardColor" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Pelo Corporal ({{ chestModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="16" step="1" v-model.number="chestModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Cor Primária ({{ chestColor }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="0" min="0" max="63" step="1" v-model.number="chestColor" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Blush ({{ blushModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="7" step="1" v-model.number="blushModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Cor Primária ({{ blushColor }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="0" min="0" max="63" step="1" v-model.number="blushColor" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Batom ({{ lipstickModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="9" step="1" v-model.number="lipstickModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Cor Primária ({{ lipstickColor }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="0" min="0" max="63" step="1" v-model.number="lipstickColor" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Maquiagem ({{ makeupModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="71" step="1" v-model.number="makeupModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Manchas ({{ blemishesModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="23" step="1" v-model.number="blemishesModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Envelhecimento ({{ ageingModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="14" step="1" v-model.number="ageingModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Aspecto ({{ complexionModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="11" step="1" v-model.number="complexionModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Pele ({{ sundamageModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="10" step="1" v-model.number="sundamageModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                        <div class="title">Sardas ({{ frecklesModel }})</div>
                        <div class="content">
                            <div class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                            <input type="range" value="-1" min="-1" max="17" step="1" v-model.number="frecklesModel" @input="changeAppearance">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="rotateContent flexAlign">
                    <div class="icon flexAlign"><i class="fa-regular fa-360-degrees"></i> <small>- Personagem</small></div>
                    <sub>|</sub>
                    <input type="range" value="0" min="90" max="270" step="5" v-model.number="camRotation" @input="changeCamRotation">
                </div>
                <footer>
                    <button @click="back">{{ i18n.back }}</button>
                    <button @click="exit">{{ i18n.save }}</button>
                </footer>
            </section>
        </main>
        <script>
            let isOpen = true;
            function openSelct() {
              isOpen = !isOpen
              isOpen ? $('.option-select').fadeOut() : $('.option-select').fadeIn();
              $('.input').find('.fa-caret-down').css('transform', `rotate(${isOpen ? '0' : '180deg'})`);
            }
          </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script type="module" src="app.js"></script>
    </body>
</html>

