::-webkit-scrollbar { display: none; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }
::-webkit-scrollbar { background: transparent; width: 0; }
::selection { background: transparent; color: #fff; }
::-moz-selection { background: transparent; color: #fff; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


* {
	color: white;
	font-size: 13px;
	font-family: Arial,Helvetica,sans-serif;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
}

#notifyitens {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item {
    width: 110px;
    height: 120px;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    background-size: 94% !important;
    background: rgba(255,255,255,0.1);
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: 1px solid rgba(255,255,255,0.12);
}

.item .top {
    display: flex;
    color: #8c8c8c;
    font-size: .65rem;
    justify-content: space-between;
}

.item .itemname {
    width: 100%;
    color: #d0d0d0;
    margin-top: 66px;
    font-size: .64rem;
    padding: 7px 10px;
    text-align: center;
    align-self: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
    background: rgba(19,22,28,0.5);
}

.itemWeight {
    color: #333;
    font-size: 9px;
    padding: 7px 5px 7px;
    font-weight: 700;
    background: rgba(255,255,255,0.75);
    text-transform: uppercase;
}

.itemAmount {
    padding: 10px 10px 0 0;
}




.body {
	right: 0;
	top: 120px;
	height: 77%;
	width: 335px;
	overflow: hidden;
	position: absolute;
}

.notification {
	float: left;
	width: 330px;
	padding: 15px;
	margin-bottom: 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: rgba(75,100,160,0.8);
	border-left: 5px solid rgba(45,60,90,0.8);
}

.content {
	float: left;
	width: 260px;
}

.buttons {
	float: left;
	width: 30px;
}

.content-line {
	float: left;
	margin-top: 6px;
	min-width: 250px;
	max-width: 250px;
	padding: 4px 0 0 5px;
}

.chamados {
	float: left;
	width: 30px;
	height: 30px;
	margin: 5px 0;
	text-align: center;
}

.chamados svg {
	font-size: 22px;
}

.code {
	float: left;
	color: #ffffff;
	font-size: 11px;
	padding: 5px 10px;
	margin-right: 10px;
	border-radius: 4px;
	background: rgba(154,36,58,0.9);
}

.titulo {
	float: left;
	color: #ffffff;
	max-width: 250px;
	overflow: hidden;
	padding: 4px 0 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.texto {
	float: left;
	color: #333;
	margin-top: 14px;
	min-width: 270px;
	max-width: 270px;
	background: #fff;
	line-height: 16px;
	padding: 8px 10px;
}



#body {
    display: none;
    overflow: hidden;
}

#pbar_outerdiv {
    position: absolute;
    width: 5px;
    height: 155px;
    bottom: 75px;
    right: 5px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(255, 255, 255);
}

#pbar_innerdiv {
    width: 100%;
    height: 0%;
    background-image: linear-gradient(to top, rgba(81, 7, 253, 0.616), rgba(133, 57, 255, 0.493));
}

#pbar_innertext {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 3px;
    color: #fff;
    font-size: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.253);
    text-transform: uppercase;
    letter-spacing: 1px;
}



.notifies-container {
    height: 100%;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 0px;
    align-items: flex-end;
    padding-top: 20px;
    
}

.notify {
    min-height: 70px;
    padding:  12px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: opacity(2%); */
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;

    margin-bottom: 20px;
    
}

.notifyLine {
    position: absolute;
    bottom: 0px;
    background-color: #F2C94C;
    width: 300px;
    height: 3px;
    right: 0px;
}

.notifyText {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: Montserrat !important;
}

.notifyText p {
    width: 100%;
    margin-left: 10px;
    font-size: 14px;
}

.notifyText img {
    height: 30px;
    margin: 0px 5px;
}

.appear {
    animation-name: appear;
    animation-duration: 600ms;
    animation-fill-mode:forwards; 
}

@keyframes appear {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}



@keyframes disappear {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.disappear {
    animation-name: disappear;
    animation-duration: 600ms;
    animation-fill-mode: backwards; 
}


@keyframes width {
    from {
        width: 300px;
    }

    to {
        width: 0px;
    }
}

.width {
    animation-name: width;
    animation-duration: 4900ms;
    animation-fill-mode: backwards; 
}
