@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

/* :root {
  --text-color: 33, 166, 62;
  --main-color: 77, 255, 115;
  --active-color: #4dff73;
  --back-color: 154, 255, 176;
  --slider-color: #52ff78;
  --slider-box: rgba(82, 255, 120, 0.61);
  --icon-color: 128, 255, 155;
  --button-back: rgba(30, 137, 53, 0.81);
  --category-back: 103, 255, 136;
  --category-text: #67ff8854;
  --place-color: #67ff88;
} */

:root {
  --text-color: 106, 33, 166;
  --main-color: 95, 33, 166;
  --active-color: #744dff;
  --back-color: 176, 154, 255;
  --slider-color: #8052ff;
  --slider-box: rgba(120, 82, 255, 0.61);
  --icon-color: 141, 128, 255;
  --button-back: rgba(59, 30, 137, 0.81);
  --category-back: 144, 103, 255;
  --category-text: #ab80f054;
  --place-color: #9c67ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  user-select: none;
}

main {
  width: 100vw;
  height: 100vh;
  display: none;
}
main .bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
main .bg img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
main .main-place-wrapper {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 1vw;
}
main .main-place-wrapper::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 60%;
  background: #fff;
  height: 3px;
}
main .main-place-wrapper .place {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  text-transform: uppercase;
}
main .main-place-wrapper .subtitle {
  color: rgba(255, 255, 255, 0.58);
  font-size: 26px;
  font-weight: 400;
}
main .time.box {
  display: flex;
  gap: 9px;
  align-items: center;
  color: rgba(255, 255, 255, 0.65);
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 1vw;
  right: 1vw;
}
main .time.box .icon {
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.24);
}
main .selection-wrapper {
  position: absolute;
  left: 0;
  bottom: 1vw;
  height: fit-content;
}
main .selection-wrapper .last-locations-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main .selection-wrapper .last-locations-btn .welcome-text {
  color: rgba(255, 255, 255, 0.2);
  font-size: 22px;
  font-weight: 400;
}
main .selection-wrapper .last-locations-btn .welcome-text span {
  font-weight: 500;
}
main .selection-wrapper .last-locations-btn .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .selection-wrapper .last-locations-btn .btn:hover .text {
  background: linear-gradient(
    90deg,
    rgba(var(--text-color), 0.9) 0%,
    rgba(79, 250, 115, 0.1) 100%
  );
}
main .selection-wrapper .last-locations-btn .btn:hover .icon {
  background: linear-gradient(
    90deg,
    rgba(var(--main-color), 0.75) 0%,
    var(--active-color) 48.44%,
    rgba(var(--main-color), 0.9) 100%
  );
}
main .selection-wrapper .last-locations-btn .btn .icon {
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.324px;
  border: 2.493px solid rgba(var(--icon-color), 0.35);
  background: linear-gradient(
    90deg,
    rgba(var(--main-color), 0.56) 0%,
    var(--active-color) 48.44%,
    rgba(var(--main-color), 0.65) 100%
  );
}
main .selection-wrapper .last-locations-btn .btn .text {
  color: rgba(255, 255, 255, 0.54);
  font-size: 20px;
  font-weight: 500;
  padding: 6px 50px;
  background: linear-gradient(
    90deg,
    var(--button-back) 0%,
    rgba(79, 250, 115, 0) 100%
  );
}
main .selection-wrapper .box-title {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.52);
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}
main .selection-wrapper .inner {
  position: absolute;
  width: 120%;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
}
main .selection-wrapper .box-wrapper {
  width: 115vw;
  height: 60%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 50.5%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
main .selection-wrapper .box-wrapper .place-wrapper {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
main .selection-wrapper .box-wrapper .place-wrapper .place {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30.68px;
  font-weight: 600;
  line-height: 100%;
  opacity: 0.8;
}
main .selection-wrapper .box-wrapper .place-wrapper .subtitle {
  color: rgba(255, 255, 255, 0.57);
  font-size: 23.6px;
  font-weight: 400;
  opacity: 0.5;
}
main .selection-wrapper .box.disabled {
  opacity: 0.5;
  pointer-events: none;
}
main .selection-wrapper .box .box-img {
  width: 150%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  overflow: hidden;
  transform-origin: 0 0;
  border-radius: 0 0 20% 20%;
}
main .selection-wrapper .box .box-img .box-img-wrapper {
  width: 66.6%;
  height: 120%;
  position: absolute;
  top: 50%;
  left: 50.2%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transform-origin: 0 0;
}
main .selection-wrapper .box .box-img .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
}
main .selection-wrapper .box .box-img img {
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -2;
}
main .selection-wrapper .box:hover .overlay {
  background: rgba(0, 0, 0, 0.5);
}
main .selection-wrapper .box:hover.box-3 .overlay {
  background: rgba(0, 0, 0, 0.35);
}
main .selection-wrapper .box-1 {
  transform: translateY(-17%);
}
main .selection-wrapper .box-1 .place-wrapper {
  top: 30%;
}
main .selection-wrapper .box-1 .box-img {
  rotate: 5.5deg;
  top: 59%;
  height: 102%;
}
main .selection-wrapper .box-1 .box-img .box-img-wrapper {
  width: 66.5%;
  rotate: -5.5deg;
}
main .selection-wrapper .box-2 {
  transform: translateY(3%);
}
main .selection-wrapper .box-2 .box-img {
  rotate: 4deg;
  top: 56%;
}
main .selection-wrapper .box-2 .box-img .box-img-wrapper {
  rotate: -4deg;
}
main .selection-wrapper .box-2 .box-title {
  top: 9%;
}
main .selection-wrapper .box-2 .place-wrapper {
  top: 29%;
}
main .selection-wrapper .box-3 {
  transform: translateY(15%);
}
main .selection-wrapper .box-3 .spawn-btn {
  position: absolute;
  bottom: -5.5%;
  left: 0;
  width: 100%;
}
main .selection-wrapper .box-3 .spawn-btn span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.38);
  font-size: 18px;
  font-weight: 500;
}
main .selection-wrapper .box-3 .spawn-btn img {
  width: 100%;
}
main .selection-wrapper .box-3 .box-img {
  rotate: 1deg;
  top: 52%;
}
main .selection-wrapper .box-3 .box-img .box-img-wrapper {
  width: 66.5%;
  rotate: -1deg;
}
main .selection-wrapper .box-3.active .box-title {
  color: #000;
}
main .selection-wrapper .box-3.active .place {
  color: var(--place-color);
  opacity: 1;
}
main .selection-wrapper .box-3.active .subtitle {
  opacity: 1;
}
main .selection-wrapper .box-3.active .overlay {
  background: rgba(0, 0, 0, 0.4);
}
main .selection-wrapper .box-3.active::after {
  content: "";
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 5px;
  height: 100%;
  background: rgba(var(--back-color), 0.44);
}
main .selection-wrapper .box-3.active::before {
  content: "";
  position: absolute;
  right: -3%;
  top: 3.1%;
  width: 5px;
  height: 100%;
  background: rgba(var(--back-color), 0.44);
}
main .selection-wrapper .box-4 {
  transform: translateY(12%);
}
main .selection-wrapper .box-4 .box-img {
  rotate: -2deg;
  top: 53.2%;
}
main .selection-wrapper .box-4 .box-img .box-img-wrapper {
  width: 66.5%;
  rotate: 2deg;
}
main .selection-wrapper .box-4 .box-title {
  top: 7%;
}
main .selection-wrapper .box-4 .place-wrapper {
  top: 26%;
}
main .selection-wrapper .box-5 {
  transform: translateY(-3%);
}
main .selection-wrapper .box-5 .box-img {
  rotate: -5deg;
  top: 56.5%;
}
main .selection-wrapper .box-5 .box-img .box-img-wrapper {
  width: 66.6%;
  rotate: 5deg;
}
main .selection-wrapper .box-5 .box-title {
  top: 9%;
}
main .selection-wrapper .box-5 .place-wrapper {
  top: 27%;
}

.bodyBGG {
  background: radial-gradient(
      72.86% 36.32% at 95.91% 97.55%,
      rgba(var(--main-color), 0.09) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      92.02% 36.65% at -4.61% 14.86%,
      rgba(var(--main-color), 0.09) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(270deg, rgba(2, 3, 5, 0.7) -50%, rgba(2, 3, 5, 0) 50%),
    linear-gradient(270deg, #020305 0%, rgba(2, 3, 5, 0) 50%),
    linear-gradient(90deg, rgba(2, 3, 5, 0.7) -50%, rgba(2, 3, 5, 0) 50%),
    linear-gradient(90deg, #020305 0%, rgba(2, 3, 5, 0) 50%);
  transition: all 0.5s ease-in-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.welcome-store-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff16;
}

.menu-gradient {
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.16) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.active-menu-gradient {
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 3px rgba(var(--main-color), 0.22);
  background: linear-gradient(
    180deg,
    rgba(var(--main-color), 0.09) 0%,
    rgba(var(--main-color), 0.08) 48.44%,
    rgba(var(--main-color), 0.16) 100%
  );
}

.active-menu-gradient-outline {
  border: 2px solid rgba(var(--back-color), 0.83);
  box-shadow: 0px 4px 53px 7px rgba(var(--main-color), 0.15);
}

.category-btn {
  fill: #fff;
}

.active-menu-content {
  color: var(--active-color);
  fill: var(--active-color) !important;
}

.active-menu-content > svg {
  zoom: 1.1;
}

.photoBtnOutterGlow {
  border: 1px solid rgba(77, 159, 255, 0.48);
  box-shadow: 0px 4px 25px 0px #4d9fff;
  transform: rotate(-30deg);
}

.photoBtnOutterGlow2 {
  border: 3px solid #4d9fff;
  box-shadow: 0px 4px 25px 0px #4d9fff;
}

.photoBtnOutterGlow3 {
  border: 3px solid rgba(77, 159, 255, 0.22);
  background: linear-gradient(
    180deg,
    rgba(77, 159, 255, 0.17) 0%,
    rgba(77, 159, 255, 0.15) 48.44%,
    rgba(77, 159, 255, 0.3) 100%
  );
}

.menu-header-gradient {
  background: linear-gradient(
    270deg,
    rgba(var(--category-back), 0.13) 0%,
    rgba(var(--category-back), 0) 100%
  );
  color: var(--category-text);
}

.menu-content-gradient {
  border-radius: 0px 0px 3px 3px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.maleBtn {
  box-shadow: inset 0px 0px 0px 2px rgba(102, 190, 255, 0.1);
  background: linear-gradient(
    182deg,
    rgba(102, 190, 255, 0.31) 1.46%,
    rgba(102, 190, 255, 0.13) 155.76%
  );
  color: rgba(255, 255, 255, 0.48);
}

.maleBtn > svg {
  fill: rgba(255, 255, 255, 0.48);
  fill-opacity: 0.48;
}

.femaleBtn {
  border: 2px solid rgba(255, 102, 194, 0.1);
  background: linear-gradient(
    182deg,
    rgba(255, 102, 194, 0.13) 1.46%,
    rgba(255, 102, 194, 0) 155.76%
  );
  color: rgba(255, 255, 255, 0.48);
}

.femaleBtn > svg {
  fill: rgba(255, 255, 255, 1);
  fill-opacity: 0.48;
}

.maleBtnActive {
  background: linear-gradient(
    182deg,
    rgba(102, 190, 255, 0.61) 1.46%,
    #66beff 155.76%
  );
  box-shadow: 0px 4px 36px 0px rgba(89, 160, 213, 0.49);
  fill: rgba(255, 255, 255, 1);
  fill-opacity: 1;
  color: white;
}

.maleBtnActive > svg {
  fill: rgba(255, 255, 255, 1);
  fill-opacity: 1;
}

.femaleBtnActive {
  background: linear-gradient(
    182deg,
    rgba(255, 102, 194, 0.61) 1.46%,
    #ff66c2 155.76%
  );
  box-shadow: 0px 4px 36px 0px rgba(255, 102, 194, 0.49);
  fill: rgba(255, 255, 255, 1);
  fill-opacity: 1;
  color: white;
}

.femaleBtnActive > svg {
  fill: rgba(255, 255, 255, 1);
  fill-opacity: 1;
}

.parentBtnRight {
  border-radius: 0px 4px 4px 0px;
  background: linear-gradient(
    90deg,
    rgba(255, 236, 247, 0.25) 0.1%,
    rgba(255, 236, 247, 0) 99.89%
  );
  color: #ffffff7a;
}

.parentBtnRight > svg {
  fill: #ffffff;
  fill-opacity: 0.48;
}

.parentBtnRightActive {
  border-radius: 0px 4px 4px 0px;
  background: linear-gradient(
    90deg,
    #e4f4ff 0.1%,
    rgba(228, 244, 255, 0) 99.89%
  );
  color: #000000a6;
}

.parentBtnRightActive > svg {
  fill: #000000;
  fill-opacity: 0.65;
}

.parentBtnLeft {
  border-radius: 0px 4px 4px 0px;
  background: linear-gradient(
    90deg,
    rgba(255, 236, 247, 0) 0.1%,
    rgba(255, 236, 247, 0.25) 99.89%
  );
  color: #ffffff7a;
}

.parentBtnLeft > svg {
  fill: #ffffff;
  fill-opacity: 0.48;
}

.parentBtnLeftActive {
  border-radius: 4px 0px 0px 4px;
  background: linear-gradient(
    90deg,
    rgba(228, 244, 255, 0) 0.1%,
    #e4f4ff 99.89%
  );
  color: #000000a6;
}

.parentBtnLeftActive > svg {
  fill: #000000;
  fill-opacity: 0.65;
}

.parentItem {
  border-radius: 2px;
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.04);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #ffffff8f;
}

.parentItem > img {
  opacity: 0.56;
}

.parentItemActive {
  border-radius: 2px;
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.27);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.63) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #ffffff;
}

.hairItemActive,
.eyesItemActive,
.eyebrowsItemActive,
.blushItemActive,
.makeupItemActive,
.lipstickItemActive,
.beardItemActive {
  border-radius: 5px;
  /* padding: 1px; */
  border: 2px solid var(--active-color);
  /* background: #ffffff; */
}

.colorSelected {
  border: 1px solid white;
}

.parentItemActive > img {
  opacity: 1;
}

#swatch {
  width: 120px;
  height: 100px;
  margin-top: 18px;
  margin-left: 350px;
  background-image: none;
}

.sliderGreen {
  background: rgba(255, 255, 255, 0.12);
  border: none !important;
  height: 6px;
}

.sliderGreen > .ui-slider-range {
  background: var(--slider-color);
  box-shadow: 0px 0px 22.9px 0px var(--slider-box);
  border-radius: 22px 0px 0px 22px;
}

.sliderGreen > .ui-slider-handle {
  border: none !important;
  margin-left: 0px;
  background-color: #fff;
  outline: none;
  width: 4px;
  height: 20px;
  border-radius: 22px;
  margin-top: -3px;
}

.mt2 > .ui-slider-handle {
  margin-top: -2px;
}

.sliderDefault {
  background: rgba(255, 255, 255, 0.12);
  border: none !important;
  height: 6px;
}

.sliderDefault .ui-slider-range {
  background: rgba(255, 255, 255, 0.51);
  border-radius: 22px 0px 0px 22px;
}

.sliderDefault .ui-slider-handle {
  border: none !important;
  margin-left: 0px;
  background-color: #fff;
  outline: none;
  width: 4px;
  height: 20px;
  border-radius: 22px;
  margin-top: -3px;
}

.scrollStyle::-webkit-scrollbar-track {
  border-radius: 10px;
}

.scrollStyle::-webkit-scrollbar {
  width: 5px;
}

.scrollStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--slider-color);
}

.rightSection {
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.06);
  background: radial-gradient(
    128.77% 93.5% at 100% 50%,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

* {
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -o-user-select: none !important;
  user-select: none !important;
}

img {
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
}

.sliderNegative,
.sliderPositive,
.sliderNegativeTexture,
.sliderPositiveTexture {
  cursor: pointer;
}

.save-char-icon {
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 3px rgba(var(--icon-color), 0.35);
  background: linear-gradient(
    90deg,
    rgba(var(--main-color), 0.56) 0%,
    var(--active-color) 48.44%,
    rgba(var(--main-color), 0.65) 100%
  );
}

.save-char-bg {
  border-radius: 0px 4px 4px 0px;
  background: linear-gradient(
    90deg,
    var(--button-back) 0%,
    rgba(79, 250, 115, 0) 100%
  );
}

.error-box-icon {
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 2px #ff6262;
  background: linear-gradient(180deg, #ff5353 0%, rgba(255, 83, 83, 0) 316.67%);
}

.error-box-bg {
  border-radius: 0px 3px 3px 0px;
  background: linear-gradient(
      0deg,
      rgba(255, 83, 83, 0.23) 0%,
      rgba(255, 83, 83, 0.23) 100%
    ),
    rgba(0, 0, 0, 0.21);
}

.deleteIconShadow {
  filter: drop-shadow(0px 0px 4px rgba(255, 0, 0, 0.25));
}

/* #parentsDiv scrollbar */
#parentsDiv::-webkit-scrollbar {
  width: 5px;
}

#parentsDiv::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
}

#parentsDiv::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
}

#parentsDiv::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.12);
}

.multicharBody {
  background: radial-gradient(
      72.86% 36.32% at 95.91% 97.55%,
      rgba(var(--main-color), 0.09) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      92.02% 36.65% at -4.61% 14.86%,
      rgba(var(--main-color), 0.09) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(270deg, rgba(2, 3, 5, 0.7) -50%, rgba(2, 3, 5, 0) 50%),
    linear-gradient(270deg, #020305 0%, rgba(2, 3, 5, 0) 50%),
    linear-gradient(90deg, rgba(2, 3, 5, 0.7) -50%, rgba(2, 3, 5, 0) 50%),
    linear-gradient(90deg, #020305 0%, rgba(2, 3, 5, 0) 50%);
  transition: all 0.5s ease-in-out;
}

.serverName {
  background: linear-gradient(
    90deg,
    rgba(var(--main-color), 0.56) 0%,
    var(--active-color) 48.44%,
    rgba(var(--main-color), 0.65) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fontBarlow {
  font-family: "Barlow", sans-serif;
}

.charList {
  border-radius: 0px 0px 3px 3px;
  background: linear-gradient(
    270deg,
    rgba(var(--category-back), 0) 0%,
    rgba(var(--category-back), 0.13) 76.04%
  );
  color: var(--category-text);
}

.charItem {
  border-radius: 3px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0.01%,
    rgba(255, 255, 255, 0.17) 99.99%
  );
}

.charNewItem {
  border-radius: 3px;
  background: linear-gradient(
    270deg,
    rgba(182, 255, 211, 0) 0%,
    rgba(182, 255, 211, 0.17) 100%
  );
}

.charUnlockItem {
  background: linear-gradient(
    270deg,
    rgba(255, 231, 168, 0) 0%,
    rgba(255, 218, 121, 0.17) 100%
  );
}

#loadedCharBank,
#loadedCharCash {
  color: rgba(var(--text-color), 0.9);
}

.cam {
  background: linear-gradient(
    90deg,
    rgba(var(--category-back), 0) 0%,
    rgba(var(--category-back), 0.5) 50%,
    rgba(var(--category-back), 0) 100%
  );
}

.leftMenuIcon {
  transition: all;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  width: 100%;
  height: 18vh;
}
